__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/
venv/
.venv/
ENV/
env/
.env
.env.*
.DS_Store
.vscode/
.idea/
*.zip
dist/
build/
*.egg-info
pip-wheel-metadata/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
*.sqlite3
*.db
models/
*.pkl
*.npz
dataset/
*.log
